/* ------ Module ------ */
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------ Global settings ------ */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* ------ Color ------ */
/* ------ Font ------ */
.addPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 95px;
  max-width: 920px;
  margin: 120px auto 100px auto;
  -webkit-box-shadow: 0 3px 6px #00000029;
          box-shadow: 0 3px 6px #00000029;
  border-radius: 12px;
}

@media (max-width: 767px) {
  .addPanel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
    padding: 60px 20px;
    margin: 0 auto 100px auto;
  }
}

.addPanel__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 767px) {
  .addPanel__img :nth-child(2) {
    display: none;
  }
}

.addPanel__img :first-child {
  margin-bottom: 20px;
}

.addPanel__form {
  max-width: 350px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 767px) {
  .addPanel__form {
    max-width: 100%;
  }
}

.form__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid #00807E;
  margin-bottom: 32px;
}

.form__title .icon-plus {
  width: 20px;
  height: 20px;
}

.form__titleText {
  padding: 0 6px;
  font-size: 24px;
  font-weight: 700;
  color: #00807E;
  line-height: 1.5;
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  .form__label {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form__labelText {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  padding: 8px 0;
  font-size: 16px;
  font-weight: 700;
  color: #00807E;
}

.form__input, .form__select, .form__textarea {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  width: 100%;
  font-size: 16px;
  font-weight: normal;
  padding: 8px 12px;
  border: none;
  background-color: #FAFAFA;
  border-bottom: 2px solid #00807E;
}

.form__input::-webkit-input-placeholder {
  color: #818A91;
}

.form__input:-ms-input-placeholder {
  color: #818A91;
}

.form__input::-ms-input-placeholder {
  color: #818A91;
}

.form__input::placeholder {
  color: #818A91;
}

.form__select {
  color: #818A91;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../img/sort-solid.svg);
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 12px 12px;
}

.form__addBtn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 10px 40px;
  font-size: 20px;
  font-weight: normal;
  background-color: #00807E;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .form__addBtn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.form__addBtn:hover {
  background-color: #009a97;
}

.form__description {
  resize: none;
}

.content--background {
  background-color: #FAFAFA;
}

.content {
  max-width: 1110px;
  padding-bottom: 120px;
  margin: 0 auto;
}

.cityInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 44px 0;
}

@media (max-width: 767px) {
  .cityInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.citySearch {
  width: 100%;
  max-width: 730px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 90px;
}

@media (max-width: 767px) {
  .citySearch {
    padding: 0 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.citySearch__select {
  padding: 8px 12px;
  width: \max(27.5%, 255px);
  margin-right: 2.5%;
  font-size: 16px;
  font-weight: normal;
  color: #818A91;
  border: 1px solid #CED4DA;
  border-radius: 4px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../img/sort-solid.svg);
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 12px 12px;
}

@media (max-width: 767px) {
  .citySearch__select {
    width: auto;
    -webkit-box-flex: 8;
        -ms-flex: 8;
            flex: 8;
  }
}

.citySearch__ticketCount {
  color: #818A91;
}

@media (max-width: 767px) {
  .citySearch__ticketCount {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
    min-width: 145px;
    text-align: right;
  }
}

.chart {
  width: \min(100%, 380px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .chart {
    margin-top: 44px;
  }
}

.c3-chart-arcs-title {
  fill: #4B4B4B;
}

.c3-legend-item {
  fill: #4B4B4B;
}

.spotList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767px) {
  .spotList {
    padding: 0 20px;
  }
}

.spotList__item {
  width: 31.3333%;
  margin: 0 1% 40px 1%;
  -webkit-box-shadow: 0 3px 6px #00000029;
          box-shadow: 0 3px 6px #00000029;
}

@media (max-width: 767px) {
  .spotList__item {
    width: 100%;
    margin: 0 0 40px 0;
  }
}

.spotList__item:hover .ticket__spotImg img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.ticket__head {
  position: relative;
  cursor: pointer;
}

.ticket__spotImg {
  overflow: hidden;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.ticket__city, .ticket__score {
  position: absolute;
  color: #fff;
  border-radius: 0 4px 4px 0;
}

.ticket__city {
  left: 0;
  top: -12px;
  font-size: 20px;
  font-weight: normal;
  padding: 8px 20px;
  background-color: #64C3BF;
}

.ticket__score {
  width: 40px;
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  line-height: 1.5;
  text-align: center;
  padding: 5px 8px;
  background-color: #00807E;
}

.ticket__body {
  padding: 0 20px 15px 20px;
}

.ticket__title {
  margin: 20px 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  color: #00807E;
  border-bottom: 2px solid #00807E;
}

.ticket__introText {
  height: 145px;
  margin-bottom: 32px;
  line-height: 1.5;
  color: #818A91;
}

.ticket__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #00807E;
}

@media (max-width: 992px) {
  .ticket__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .ticket__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.ticket__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .ticket__count {
    margin-bottom: 8px;
  }
}

@media (max-width: 767px) {
  .ticket__count {
    margin-bottom: 0;
  }
}

.ticket__noteIcon {
  width: 20px;
  height: 20px;
}

.ticket__countText {
  padding: 0 6px;
  font-size: 16px;
  font-weight: 500;
}

.ticket__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .ticket__price {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media (max-width: 767px) {
  .ticket__price {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.ticket__amount {
  font-size: 32px;
  font-weight: 500;
  margin-left: 4px;
}
